---
page_title: "fastly_ngwaf_workspace_redactions Data Source - fastly"
subcategory: ""
description: |-
  Use this data source to retrieve Fastly Next-Gen WAF field redactions scoped to a single workspace.
---

# fastly_ngwaf_workspace_redactions (Data Source)

Use this data source to retrieve Fastly Next-Gen WAF field redactions scoped
to a single workspace.

## Example Usage

```terraform
data "fastly_ngwaf_workspace_redactions" "example" {
  workspace_id = fastly_ngwaf_workspace.example.id
}

output "workspace_redactions" {
  value = data.fastly_ngwaf_workspace_redactions.example.redactions
}
```

{{ .SchemaMarkdown | trimspace }}
