---
page_title: "fastly_services Data Source - fastly"
subcategory: ""
description: |-
  Use this data source to retrieve a list of Fastly services in your account.
---

# fastly_services (Data Source)

Use this data source to retrieve a list of [Fastly services](https://developer.fastly.com/reference/api/services/service/) in your account.

## Example Usage

```terraform
data "fastly_services" "example" {}

output "fastly_services_all" {
  value = data.fastly_services.example.details
}

output "fastly_services_filtered" {
  # Example: get the ID of the service named "Example Service"
  value = one([
    for svc in data.fastly_services.example.details :
    svc.id if svc.name == "Example Service"
  ])
}
```

{{ .SchemaMarkdown | trimspace }}
